.logo
{
  margin: 5%;
  width: 30%;
}

.parent
{
  display: flex;
}

.child1
{
  flex: 1;
}

.child2
{
  flex: 2;
  margin-right: 20%;
}


h1
{
  text-align: center;
  
}

form
{
  text-align: center;
  width: 50%;
  height: 250px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 100%;
  backdrop-filter: blur(8px);
}

label,.text
{
  
  margin: 2%;
  height:30px;
  width: 30%;
  font-size: 25px;
  border-radius: 10px;
  border: 1;
}

.button
{
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

body
{
  min-height: 100vh;
  background-color: antiquewhite;
}






