.listItem{
    color: rgb(0, 0, 0);
}

.col-sm-1
{
    background-color:#c3cfd6;
    height: 100vh;
    border-radius: 10px;
}

table{
    width: 85vw;
    text-align: center;
}

thead
{
    font-weight: bold;
    /* visibility: ; */
}

form
{
    height: auto;
}

body
{
    background-color: azure;
}

.activeItem
{
    border: 1px;
}