.form2
{
  text-align: center;
  width: 50%;
  height: 250px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
  background:lightgray;
  opacity: 100%;
  backdrop-filter: blur(8px);
}


.form-group
{
  padding: 20px;
}